.btn {
  padding: 5px 15px;
	border-radius: 5px;
  color: #FFFFFF;
}

.btn-primary {
  background: #4B51EF;
}

.btn-submit-profile {
  background: #52CF4F;
}

.btn-card {
  color: #4B51EF;
  text-decoration: none;
}

.btn-disabled {
  background: #AFAFAF;
}